.containerStory {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .container-heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem; 
    line-height: 2.25rem; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: DMSans;
    
  }

  
  .storyContainer {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: start;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem; 
  }
  
  .offline{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 1rem/* 30px */;
    line-height: 2.25rem/* 36px */;

  }

  .no-stories{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;

  }

  .no-story-div{
    text-align: center;
    width: 20rem/* 320px */;

  }

  .no-story-text{
    margin-top: 1.25rem/* 20px */;
    font-weight: 700;
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
    color: #8e8e8e;

  }

  .see-more-div{
    text-align: center;
    margin-top: 1rem/* 16px */;

  }
  .see-more{
    background-color: #ff7373;
color: white;
font-weight: 700;
padding-top: 0.5rem/* 8px */;
padding-bottom: 0.5rem/* 8px */;
padding-left: 1rem/* 16px */;
padding-right: 1rem/* 16px */;
border-radius: 1.5rem/* 24px */;
margin-top: 1rem/* 16px */;
margin-bottom: 1rem/* 16px */;
width: 9rem/* 144px */;
height: 2.75rem/* 44px */;
border: none;

  }

  @media screen and (max-width: 585px) {
    .container-heading {
      text-align: center;
      font-weight: bold;
      font-size: 0.8rem; 
      line-height: 2.25rem; 
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-family: DMSans;
      text-wrap: balance;
      
    }

    .no-story-text{
      margin-top: 1.25rem/* 20px */;
      font-weight: 700;
      font-size: 1.2rem; 
      line-height: 2.25rem/* 36px */;
      color: #8e8e8e;
  
    }
    .containerStory {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .storyContainer {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      justify-content: center;
    }

}