
  
  /* .categoryStory {
    height: 42rem;
    width: auto;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 20px;
  } */
  

  .wrapper {
    margin: 0.5rem;
    padding: 0.5rem;
    position: relative;
  }
  
  .categoryStory {
    width: 20rem; 
    height: 460px;
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #000; */
/* background: rgb(73,73,73);*/

background: linear-gradient(0deg, rgba(73,73,73,1) 0%, rgba(224,224,224,1) 20%, rgba(255,255,255,1) 100%); 
  }
  
  .categoryStoryContent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    padding-top: 0px;
    padding-bottom: 4rem/* 64px */;

    background-color:rgba(0, 0, 0, 0);
    /* margin-bottom: 2.5rem; */

  }
  
  .categoryStoryHeader {
    font-weight: bold;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    text-align: left;
    margin-left: 1rem;
    color: white;
    font-family: DMSans;
    /* margin-bottom: 1rem; */
  }
  
  .categoryStoryDescription {
    font-weight: bold;
    font-family: DMSans;
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
  }
  
  .editButton{
    position: absolute;
    bottom: -1rem/* -16px */;
    left: 7.2rem/* 115.2px */;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    color: black;
    border-radius: 1.5rem/* 24px */;

    background-color: white;
    font-weight: bold;
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0);
    z-index: 30;

  }

  .edit-image{
    width: 1rem/* 16px */;
    height: 1rem/* 16px */;
    margin-right: 0.5rem/* 8px */;
    display: inline-block;

  }

  @media screen and (max-width: 585px) {
    .categoryStoryContent {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding-left: 1rem/* 16px */;
      padding-right: 1rem/* 16px */;
      padding-top: 0px;
      padding-bottom: 4rem/* 64px */;
      background-color:rgba(0, 0, 0, 0);
      /* margin-bottom: 2.5rem; */
    }
    .categoryStory {
      width: 23rem; 
      height: 460px;
      position: relative;
      border-radius: 0.5rem;
      cursor: pointer;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* background-color: #000; */
  /* background: rgb(73,73,73);*/
  
  background: linear-gradient(0deg, rgba(73,73,73,1) 0%, rgba(224,224,224,1) 20%, rgba(255,255,255,1) 100%); 
    }
  
}